@charset "UTF-8";

.datepicker {
  width: 290px;
  position: absolute;
  background: #fff;
  border-radius: 6px;
  color: #708D66;
  font-size: 12px;
  line-height: 16px;
  padding: 15px 0 25px;
  user-select: none;
  z-index: 99;

  transform: translate3d(0px, 10px, 0px);
  display: none;
  opacity: 0;

  transition: opacity 0.2s ease, transform 0.2s ease;
  
  &.show {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
  
  .header {
    width: 100%;
    height: 16px;
    padding: 0 25px;
    
    h4 {
      float: left;
      font-weight: 400;
      line-height: 16px;
      text-transform: capitalize;
    }
    
    .controls {
      width: 45px;
      height: 16px;
      float: right;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .switch {
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background-color: #D7E0CE;
        cursor: pointer;
        
        &.prev {
          background-image: url(../images/date-arrow-left.svg);
          background-repeat: no-repeat;
          background-size: 5px;
          background-position: 5px center;
        }
        
        &.next {
          background-image: url(../images/date-arrow-right.svg);
          background-repeat: no-repeat;
          background-size: 5px;
          background-position: 6px center;
        }
      }
    }
  }
  
  .dates {
    width: 100%;
    padding: 0 25px;
  }
  
  ul.row {
    width: 100%;
    height: 20px;
    margin: 0 0 8px 0;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &:last-of-type {
      margin: 0;
    }
    
    &.weekdays {
      margin: 20px 0 15px;
    }
    
    .bar {
      height: 20px;
      position: absolute;
      top: 0;
      z-index: 1;
      background: rgba(112, 141, 102, 0.25);
      border-radius: 10px;
    }
    
    li {
      width: 20px;
      height: 20px;
      line-height: 20px;
      float: left;
      text-align: center;
      position: relative;
      z-index: 2;
      border-radius: 100%;
    }
  }
  
  .weeks ul.row li {
    cursor: pointer;
    
    &.other {
      color: #E1E4E7;
    }
    
    &.selected {
      color: #fff;
      background: #708D66;
    }
  }
}
